<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-2 font-weight-bold text-primary lead">Tabla de Clientes</h6>
        <div>
            <button class="btn btn-success btn-icon-split btn-sm mr-2" (click)="exportToExcel()">
                <span class="icon text-white-50">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                </span>
                <span class="text">Excel</span>
            </button>
            <button class="btn btn-danger btn-icon-split btn-sm" (click)="exportToPDF()">
                <span class="icon text-white-50">
                    <i class="bi bi-file-earmark-pdf"></i>
                </span>
                <span class="text">PDF</span>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p-table 
        [value]="clients" 
        [paginator]="true" 
        [rows]="10" 
        [rowsPerPageOptions]="[5, 10, 20]" 
        [responsiveLayout]="'scroll'"
        [rowHover]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="fname">Nombre <p-sortIcon field="fname"></p-sortIcon></th>
                <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-client>
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.fname }} {{ client.lname }}</td>
                <td>{{ client.email }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
                <td colspan="4">Total de Clientes: {{ clients.length }}</td>
            </tr>
        </ng-template>
        </p-table>
    </div>
</div>