  <ng-container *ngIf="loading; else dashboardContent">
    <div class="text-center py-5">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Cargando...</span>
      </div>
    </div>
  </ng-container>

  <ng-template #dashboardContent>
    <!-- Tarjetas de estadísticas -->
    <div class="row g-4 mb-3">
      <div class="col-md-3">
        <app-minicard 
        borderColor="danger"
        title="Pendientes" 
        content="{{dashboardData?.pending || 0}}"
        icon="bi-exclamation-circle"
        />
      </div>
      <div class="col-md-3">
        <app-minicard 
        borderColor="info"
        title="Envíos Totales" 
        content="{{dashboardData?.totalShipments || 0}}"
        icon="bi-box-seam"
        />
      </div>
      <div class="col-md-3">
        <app-minicard 
        borderColor="success"
        title="Paquetes Entregados" 
        content="{{dashboardData?.delivered || 0}} / {{dashboardData?.totalShipments || 0}}"
        icon="bi-check-circle"
        />
      </div>
    </div>

    <!-- tabla paquetes recientes -->
    <div class="row mb-4">
      <div class="col-md-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="mb-0 font-weight-bold text-primary lead">Últimos Envíos</h6>
          </div>
          <div class="card-body">
            <p-table
            [value]="recentShipments"
            [paginator]="true" 
            [rows]="5" 
            [rowsPerPageOptions]="[5, 10, 20]" 
            [responsiveLayout]="'scroll'"
            [rowHover]="true"
            [customSort]="false"
            stripedRows
            [size]="'small'"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th pSortableColumn="tracking_number">No. Guía <p-sortIcon field="tracking_number"></p-sortIcon></th>
                  <th pSortableColumn="destination">Destino <p-sortIcon field="destination"></p-sortIcon></th>
                  <th pSortableColumn="status">Estado <p-sortIcon field="status"></p-sortIcon></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-shipment>
                <tr>
                  <td>{{shipment.tracking_number}}</td>
                  <td>{{shipment.destination}}</td>
                  <td>
                    <span class="badge" [ngClass]="{
                      'bg-success': shipment.status === 'entregado',
                      'bg-warning': shipment.status === 'procesamiento',
                      'bg-info': shipment.status === 'en tránsito',
                      'bg-primary': shipment.status === 'en reparto',
                      'bg-secondary': shipment.status === 'registrado'
                    }">
                      {{shipment.status}}
                    </span>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                    <td colspan="5">Total de Paquetes: {{ recentShipments.length }}</td>
                </tr>
            </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="mb-0 font-weight-bold text-primary lead">Distribución de Tamaños de Paquetes</h6>
            <p class="text-muted">Tamaño de paquetes que mas se envían: <strong>{{ dashboardData?.popularSize || '???' }}</strong> </p>
          </div>
          <div class="card-body">
            <p-chart type="pie" [data]="data" [options]="chartOptions" class="h-[30rem]"/>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
