<!-- mini cards -->
<div class="row">

    <!-- ganancias mensuales-->
    <div class="col-xl-3 col-md-6 mb-4">
        <app-minicard
            [title]="'Ganancias (Mes)'"
            [content]="'$40,000'"
            [borderColor]="'primary'"
            [icon]="'bi bi-calendar-event-fill'">
        </app-minicard>
    </div>

    <!-- paquetes en transito -->
    <div class="col-xl-3 col-md-6 mb-4">
        <app-minicard
            [title]="'Paquetes en tránsito'"
            [content]="'10'"
            [borderColor]="'success'"
            [icon]="'bi bi-truck'">
        </app-minicard>
    </div>

    <!-- ganancias mensuales-->
    <div class="col-xl-3 col-md-6 mb-4">
        <app-minicard
            [title]="'Ganancias (Mes)'"
            [content]="'$40,000'"
            [borderColor]="'warning'"
            [icon]="'bi bi-calendar-event-fill'">
        </app-minicard>
    </div>

    <!-- ganancias mensuales-->
    <div class="col-xl-3 col-md-6 mb-4">
        <app-minicard
            [title]="'Ganancias (Mes)'"
            [content]="'$40,000'"
            [borderColor]="'danger'"
            [icon]="'bi bi-calendar-event-fill'">
        </app-minicard>
    </div>

</div>

<!-- contenido -->
<div class="row">
    <!-- alert de bienvenida o descripcion del dashboard -->
    <div class="col-xl-6 col-md-6 mb-4">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
            </div>
            <div class="card-body">
                The styling for this basic card example is created by using default Bootstrap
                utility classes. By using utility classes, the style of the card component can be
                easily modified with no need for any custom CSS!
            </div>
        </div>
    </div>
</div>