<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-2 font-weight-bold text-primary lead">Tabla de Administradores y Repartidores</h6>
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button class="btn btn-success btn-icon-split btn-sm mr-2" (click)="exportToExcel()">
                    <span class="icon text-white-50">
                    <i class="bi bi-file-earmark-spreadsheet"></i>
                    </span>
                    <span class="text">Excel</span>
                </button>
                <button class="btn btn-danger btn-icon-split btn-sm" (click)="exportToPDF()">
                    <span class="icon text-white-50">
                    <i class="bi bi-file-earmark-pdf"></i>
                    </span>
                    <span class="text">PDF</span>
                </button>
            </div>
            <div>
                <button class="btn btn-primary btn-icon-split" (click)="op.toggle($event)">
                    <span class="icon text-white-50">
                    <i class="bi bi-person-plus"></i>
                    </span>
                    <span class="text">Crear Empleado</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p-table 
            [value]="employees" 
            [paginator]="true" 
            [rows]="10" 
            [rowsPerPageOptions]="[5, 10, 20]" 
            [responsiveLayout]="'scroll'" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [customSort]="true"
            stripedRows
            >
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                    <th pSortableColumn="fname">Nombre <p-sortIcon field="fname"></p-sortIcon></th>
                    <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon></th>
                    <th pSortableColumn="role">Rol <p-sortIcon field="role"></p-sortIcon></th>
                    <th style="width: 20%;">Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    <td>{{ employee.id }}</td>
                    <td>{{ employee.fname }} {{ employee.lname }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.role }}</td>
                    <td>
                        <button class="btn btn-warning btn-icon-split btn-sm mr-2" (click)="setEditingEmployee(employee); editPopover.toggle($event)"> 
                            <span class="icon text-white-50">
                                <i class="bi bi-pencil-square"></i>
                            </span>
                            <span class="text">Editar</span>
                        </button>

                        <!-- popover editar -->
                        <p-popover #editPopover [style]="{width: '20rem'}">
                            <div class="flex flex-col gap-4 w-[25rem]">
                                <span class="font-weight-bold text-warning lead block mb-2">Editar Empleado</span>
                            </div>
                            @if (editingEmployee) {
                                <div>
                                    <form (ngSubmit)="onUpdateEmp()" #registerEmpForm="ngForm">
                                        <!-- name -->
                                        <div class="form-group row">
                                            <!-- first name -->
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input 
                                                    type="text" 
                                                    class="form-control form-control-user" 
                                                    id="fname" 
                                                    placeholder="Nombre" 
                                                    name="fname"
                                                    [(ngModel)]="editingEmployee.fname"
                                                    required
                                                    minlength="3"
                                                    #fnameInput="ngModel"
                                                >
                                                @if (fnameInput.invalid && (fnameInput.dirty || fnameInput.touched)) {
                                                    <div class="text-danger small mt-1">
                                                    @if (fnameInput.errors?.['required']) {
                                                        El nombre es requerido
                                                    } @else if (fnameInput.errors?.['minlength']) {
                                                        Mínimo 3 caracteres
                                                    }
                                                    </div>
                                                }
                                            </div>
                            
                                            <!-- last name -->
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input 
                                                    type="text" 
                                                    class="form-control form-control-user" 
                                                    id="lname"
                                                    placeholder="Apellido" 
                                                    name="lname"
                                                    [(ngModel)]="editingEmployee.lname"
                                                    required
                                                    minlength="3"
                                                    #LnameInput="ngModel"
                                                >
                                                @if (LnameInput.invalid && (LnameInput.dirty || LnameInput.touched)) {
                                                    <div class="text-danger small mt-1">
                                                    @if (LnameInput.errors?.['required']) {
                                                        El apellido es requerido
                                                    }
                                                    </div>
                                                }
                                            </div>
                                        </div>
    
                                        <!-- Email -->
                                        <div class="form-group">
                                            <input 
                                            type="email" 
                                            class="form-control form-control-user" 
                                            id="email" 
                                            placeholder="Correo Electrónico" 
                                            name="email"
                                            [(ngModel)]="editingEmployee.email"
                                            required
                                            email
                                            #emailInput="ngModel"
                                            >
                                            @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                                            <div class="text-danger small mt-1">
                                                @if (emailInput.errors?.['required']) {
                                                El email es requerido
                                                } @else if (emailInput.errors?.['email']) {
                                                Ingresa un email válido
                                                }
                                            </div>
                                            }
                                        </div>
                            
                                        <!-- rol -->
                                        <div class="form-group">
                                            <select 
                                                class="form-control form-control-user" 
                                                id="role" 
                                                name="role"
                                                [(ngModel)]="editingEmployee.role"
                                                required
                                                #roleInput="ngModel"
                                            >
                                                <option value="" disabled selected>Selecciona un rol</option>
                                                <option value="admin">Administrador</option>
                                                <option value="delivery">Repartidor</option>
                                            </select>
                                            @if (roleInput.invalid && (roleInput.dirty || roleInput.touched)) {
                                                <div class="text-danger small mt-1">
                                                    El rol es requerido
                                                </div>
                                            }
                                        </div>
                            
                                        <button 
                                            type="submit" 
                                            class="btn btn-warning btn-user btn-block"
                                            [disabled]="registerEmpForm.invalid"
                                        >
                                        <span>Confirmar Cambios</span>
                                        </button>
                                    </form>
                                </div>
                            }
                        </p-popover>


                        <button class="btn btn-danger btn-icon-split btn-sm" (click)="del.toggle($event)">
                            <span class="icon text-white-50">
                                <i class="bi bi-trash"></i>
                            </span>
                            <span class="text">Eliminar</span>
                        </button>

                        <!-- popover confirmar delete -->
                        <p-popover #del [style]="{width: '13rem'}" class="text-center">
                            <div class="flex flex-col gap-4 w-[25rem]">
                                <span class="font-weight-bold text-danger lead block mb-2">¿Estás seguro?</span>
                            </div>
                            <div class="flex flex-col gap-4 w-[25rem]">
                                <span class="text-secondary">Se eliminará a <strong>{{ employee.fname }} {{ employee.lname }}</strong></span>
                            </div>
                            <div>
                                <button class="btn btn-danger btn-icon-split btn-sm" (click)="onDeleteEmp(employee.id)">
                                    <span class="icon text-white-50">
                                        <i class="bi bi-trash"></i>
                                    </span>
                                    <span class="text">Eliminar</span>
                                </button>
                            </div>
                        </p-popover>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td colspan="5">Total de Empleados: {{ employees.length }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- popover form crear empleado -->
<p-popover #op [style]="{width: '23rem'}">
    <div class="flex flex-col gap-4 w-[25rem]">
        <span class="font-weight-bold text-primary lead block mb-2">Crear Empleado</span>
    </div>
    <div>
        <form (ngSubmit)="onRegisterEmployee()" #registerEmpForm="ngForm">
            <!-- name -->
            <div class="form-group row">
                <!-- first name -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                        type="text" 
                        class="form-control form-control-user" 
                        id="firstName" 
                        placeholder="Nombre" 
                        name="firstName"
                        [(ngModel)]="firstName"
                        required
                        minlength="3"
                        #fnameInput="ngModel"
                    >
                    @if (fnameInput.invalid && (fnameInput.dirty || fnameInput.touched)) {
                        <div class="text-danger small mt-1">
                        @if (fnameInput.errors?.['required']) {
                            El nombre es requerido
                        } @else if (fnameInput.errors?.['minlength']) {
                            Mínimo 3 caracteres
                        }
                        </div>
                    }
                </div>

                <!-- last name -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                        type="text" 
                        class="form-control form-control-user" 
                        id="lastName"
                        placeholder="Apellido" 
                        name="lastName"
                        [(ngModel)]="lastName"
                        required
                        minlength="3"
                        #LnameInput="ngModel"
                    >
                    @if (LnameInput.invalid && (LnameInput.dirty || LnameInput.touched)) {
                        <div class="text-danger small mt-1">
                        @if (LnameInput.errors?.['required']) {
                            El apellido es requerido
                        }
                        </div>
                    }
                </div>
            </div>

            <!-- rol -->
            <div class="form-group">
                <select 
                    class="form-control form-control-user" 
                    id="role" 
                    name="role"
                    [(ngModel)]="role"
                    required
                    #roleInput="ngModel"
                >
                    <option value="" disabled selected>Selecciona un rol</option>
                    <option value="admin">Administrador</option>
                    <option value="delivery">Repartidor</option>
                </select>
                @if (roleInput.invalid && (roleInput.dirty || roleInput.touched)) {
                    <div class="text-danger small mt-1">
                        El rol es requerido
                    </div>
                }
            </div>

            <!-- Email -->
            <div class="form-group">
                <input 
                  type="email" 
                  class="form-control form-control-user" 
                  id="email" 
                  placeholder="Correo Electrónico" 
                  name="email"
                  [(ngModel)]="email"
                  required
                  email
                  #emailInput="ngModel"
                >
                @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
                  <div class="text-danger small mt-1">
                    @if (emailInput.errors?.['required']) {
                      El email es requerido
                    } @else if (emailInput.errors?.['email']) {
                      Ingresa un email válido
                    }
                  </div>
                }
            </div>

            <!-- password -->
            <div class="form-group row">
                <!-- password -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                        type="password" 
                        class="form-control form-control-user"
                        id="password" 
                        placeholder="Contraseña" 
                        name="password"
                        [(ngModel)]="password"
                        required
                        minlength="6"
                        #passwordInput="ngModel"
                    >
                    @if (passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) {
                        <div class="text-danger small mt-1">
                        @if (passwordInput.errors?.['required']) {
                            La contraseña es requerida
                        } @else if (passwordInput.errors?.['minlength']) {
                            Mínimo 6 caracteres
                        }
                        </div>
                    }
                </div>

                <!-- confirmar password -->
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                        type="password" 
                        class="form-control form-control-user"
                        id="confirmPassword" 
                        placeholder="Confirmar Contraseña" 
                        name="confirmPassword"
                        [(ngModel)]="confirmPassword"
                        required
                        #confirmPasswordInput="ngModel"
                    >
                    @if (confirmPasswordInput.touched) {
                        <div class="text-danger small mt-1">
                        @if (confirmPasswordInput.errors?.['required']) {
                            Confirma tu contraseña
                        } @else if (password !== confirmPassword && confirmPasswordInput.value) {
                            Las contraseñas no coinciden
                        }
                        </div>
                    }
                </div>
            </div>

            <button 
                type="submit" 
                class="btn btn-primary btn-user btn-block"
                [disabled]="registerEmpForm.invalid || password !== confirmPassword"
            >
            <span>Agregar Colaborador</span>
            </button>
        </form>
    </div>
</p-popover>